body {
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

img:hover{
    transform: rotate(-5deg);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align:center;
    background: #606c38;
    color: #fefae0;
    border-bottom: 6px solid #bc6c25;
    border-radius:8px;
    box-shadow: 5px 10px 20px rgba(0,0,0,.5);
}

.border-blue {
    border: 1px dotted blue;
}
